*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.article_image img{
    width: 100%;
    height: 50%;
}

.articles{  
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:10px;
}

.article {
    position: relative;
    padding: 10px;
    width: 32%;
    aspect-ratio: 1 / 1;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.article img{
    height:400px;
    width: 400px;
    object-fit: cover;
}

/* Delete Button */

.delete_btn{
    height: 40px;
    width: 40px;
    position: absolute;
    top:-12px;
    right:-10px;
    color:red;
    font-size: 1.2em;
    border:none;
    background: transparent;
    cursor: pointer;
}

.btns{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.cta_btn{
    font-size: 1.2em;
    cursor: pointer;
    color:gray;
    border:none;
    background: none;
    outline:none;
    transition: 0.5s;
}

.like:active{
    transform: scale(1.2);
    color:red
    
}
.dislike:active{
    transform: scale(0.8);
    color:blue;
}


/* Comments */

.comment_wrapper{
    display: flex;
    flex-direction: column;
    gap:0.5em;
}

.comment_section .comment_box input{
    width: 100%;
    padding: 1em;
    border:1px solid #333;
    outline: none;
    border-radius: 1em 1em 0 0;
}

.comment_btn{
    padding:0.5em;
    width: 20%;
    border:none;
    outline:none;
    background-color:gray;
    color:#eee;
    cursor: pointer;
}

.comment_btn:hover{
    background-color: #333;
    color:white;
}

.comments_area{
    width: 100%;
    height: 80px;
    overflow: auto;
    
}

.each_comment {
    padding: 0 0.5em;
    display: flex;
    gap:0.5em;
    color:gray;
}

.del_comment{
    background: none;
    border:none;
    outline: none;
    color:#960000;
    cursor:pointer
}