.dark {
    background-color:  #15202b;
    color:#8899a6;
  }

  .dark a{
    color:#ddd;
  }

  .light {
    background-color: #fff;
  }

  .header_light{
    background-color: #fff;
    color:#333;
  }

  .header_dark{
    background-color: #333;
  }

  .header_dark a{
    color:#fff;
  }

  .themeBtn{
    margin:10px;
    padding: 10px;
    font-size: 18px;
    border:none;
    outline: none;
    color:#b0b3b8;
    box-shadow: 0 0 3px gray;
    border-radius: 75% 25%;
    background:transparent;
    cursor: pointer;
  }