.dark {
    background-color: #131417;
    color: #fff;
  }

  .dark a{
    color:#ddd;
  }

  .light {
    background-color: #fff;
    color: #131417;
  }

  .header_light{
    background-color: #fff;
    color:#333;
  }

  .header_dark{
    background-color: #333;
  }

  .header_dark a{
    color:#fff;
  }

  .themeBtn{
    margin:10px;
    padding: 10px;
    font-size: 18px;
    border:none;
    box-shadow: 0 0 4px gray;
    border-radius: 75% 25%;
    background:transparent;
    cursor: pointer;
  }