/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  } */

footer {
    padding: 2em;
    background: #333;
    color: #eee;
}

.footer_row{
    display: flex;
    flex-direction: column;
}

.footer_left .footer_links{
    display: flex;
    gap:10px;
}

.footer_links a,
.footer_right a{
    padding: 10px;
    color:#eee;
    transition: 0.5s;
    
}

.footer_links a:hover{
    background-color: #1e1e1e;
}

.footer_right{
    display: flex;
    gap:10px;
}

.footer_right a{
    font-size: 1.2em;
    transition: 0.6s;
}

.footer_right .fa-facebook:hover{
    color:#3b5998;
}
.footer_right .fa-twitter:hover{
    color:#55acee;
}
.footer_right .fa-instagram:hover{
    color:#c32aa3;
}
.footer_right .fa-linkedin:hover{
    color:#0a66c2;
}
.footer_right .fa-github:hover{
    color:#ad5c51;
}
.footer_right .fa-slack:hover{
    color:#4a154b
}

.footer_bottom{
    background-color: #1e1e1e;
    padding: 0.5em 2em;
}


.footer_bottom p{ 
    padding:5px;
    color:#eee;
}

.footer_bottom .fa-heart{
    padding: 0 2px;
    color:red;
    animation: blink 0.9s infinite;
}

@keyframes blink {
    0%{
        transform: scale(0.2);
    }
    100%{
        transform: scale(1);
    }
}