body {
    font-family: Helvetica;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .header { 
    border-bottom: 1px solid #ccc;
    background:#fff;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  }
  
  .site_name h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    color:#333;
  }

  .site_name span{
    color:red;
    font-style: italic;
    font-family: cursive;
    font-size: 1.5em;
    text-decoration: underline;
  }
  

  .navbar{
    display: flex;
    align-items: baseline;
  }

  .navbar .searchbar{
    margin-right:auto;
  }
  
  .searchbar input{
    padding: 1em;
    width: auto;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 30px;
  }

  .searchbar input:focus{
    border:1px solid #333;
  }


  
  .navbar ul, 
  .navbar li {
    margin: 0; 
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }

  .navbar a:hover{
    color:blue;
  }

  .btn{
    padding: 0.5em 1em;
    border-radius: 0.7em;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.1em;
    background: none;
    cursor: pointer;
  }

  .login{
    color:blue;
    border:1px solid blue;
    font-weight: 600;
    transition: 0.5s;
  }

  .login:hover{
    color:#fff;
    background-color: blue;
  }